@{
    ViewData["Title"] = "CoursePayment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script defer type="module" src="~/js/coursepayment-area/coursepayment.js"></script>

<div id="page_container">
    <div class="row filter_container"> </div>
    <div class="empty_style button_container row">
        <a class="btn btn-default btn-round primary pull-right" id="add-record"><span class="glyphicon glyphicon-envelope"></span> Send Message </a>
    </div>
    <div id="grid_container"></div>
</div>