@{
    ViewData["Title"] = "Course Student Result";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script defer type="module" src="~/js/coursestudentresult-area/coursestudentresult.js"></script>

<div id="page_container">
    <div class="row filter_container"> </div>
    <div class="empty_style button_container row">
    </div>
    <div id="grid_container"></div>
</div>